/* general wrapper flex layout */
.page-wrapper{
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.hero-section{
    flex: 0 0 450px;
}
.gallery-section{
    flex: 0 0 400px;
}
.quote-section{
    flex: 0 0 325px;
}
.cta-section{
    flex: 0 0 250px;
}
footer{
    flex: 0 0 100px;
}

/* hero section */

        /* header */
header{
    display: flex;
    margin-top: 10px;
}
header a{
    text-decoration: none;
}
.header-logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}
.header-link{
    font-size:18px;
    color: #E5E7EB;
    margin-right: 20px;
}
        /* hero */



/* colors */
.hero-section, footer{
    background-color: #1F2937;
}
.quote-section{
    background-color: #E5E7EB;
}

/* setting whole page padding */
.page-wrapper > *{
    padding: 0 150px 0 150px;
    /* flex: 1; */
}


/* typography */

body, html{
    font-family: sans-serif, serif;
}