/* general wrapper flex layout */
.page-wrapper{
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    flex: 0 0 50px
}
.hero-section{
    flex: 0 0 450px;
}
.gallery-section{
    flex: 0 0 475px;
}
.quote-section{
    flex: 0 0 400px;
}
.cta-section{
    flex: 0 0 325px;
}
footer{
    flex: 0 0 100px;
}

/* HEADER SECTION */

header{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
}
.header-logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8; /* use white-text class instead*/
}
.header-link-group{
    display: flex;
    gap:20px;
}
.header-link{
    font-size:18px;
    color: #E5E7EB; /*use sub-white-text class */
}
/* HERO SECTION */

.hero-wrapper{
    display: flex;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.hero{
    display: flex;
    height: 250px;
    justify-content: space-between;
    gap: 50px;
    
}
.hero > *{
    flex: 1;
}
.hero-title{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    line-height: 1.2;
}
.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.2;
}
.hero-button{
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: 800;
    padding: 5px 35px 5px 35px;
    border-radius: 7px;
    border: none;
    margin-top: 7px;
}

.hero-image{
    background-color: grey;
    height: 100%;
}

img{
    width:100%;
    height:100%;
    object-fit:cover;
}


/* GALLERY SECTION */
.gallery-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
.gallery-title-text{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
    margin-top: 40px;
}
.gallery-section > *{
    padding: 0 200px 0 200px;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.gallery-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-box{
    width: 150px;
    height: 150px;
    border: solid #3882F6;
    border-radius: 10px;
}
.gallery-box-caption{
    text-align: center;
    color: #1f2937;
    margin-top: 5px;
}

/* QUOTE SECTION */

.quote-wrapper{
    display:flex;
    flex-direction: column;
    padding: 0 225px 0 225px;
    height: 100%;
    justify-content: center;
}
.quote-text{
    font-size: 36px;
    line-height: 1.1;
    color: #1f2937;
    font-weight:100;
}
.quote-author{
    align-self: flex-end;
}

/* CTA SECTION */

    .cta-section{
        display: flex;
        align-items: center;
    }
    .cta-wrapper{
        background-color: #3882F6;
        display: flex;
        padding: 35px 120px 35px 120px;
        width:100%;
        height: 150px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
    }

    .cta-title{
        font-weight: 800;
        font-size: 20px;
    }

    .cta-button{
        background-color: transparent;
        padding: 3px 25px 3px 25px;
        border: solid 2px #f9faf8;
        border-radius: 5px;
        font-weight: 800;
    }
/* CTA SECTION */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colors */
.white-text{
    color:#f9faf8;
}
.hero-section, footer, header{
    background-color: #1F2937;
}
.quote-section{
    background-color: #E5E7EB;
}

/* setting whole page padding */
.page-wrapper > *{
    padding: 0 150px 0 150px;
    /* flex: 1; */
}


/* typography */

body, html{
    font-family: sans-serif, serif;
}